html, body{
	height: 100%;
	font-family: Helvetica, sans-serif;
	width: 100%;
	background-color: #D6E0EA;
}
*{
	padding: 0px;
	margin: 0px;	
}



.homeContainer{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Helvetica, sans-serif;
}

.header{
	display: block;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	background-color: #7696B8;
}

.header h3{
	padding-top: 20px;
}

.content{
	display: block;
	width: 100%;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	min-width: 800px;
}

.tabProduit{
	display: block;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;

}

thead{
	margin-bottom: 5px;
	margin-top: 5px;
}

.tabProduit th{
	border-right: solid black 1px;
}

.headProduit, .tabProduitBody, .unProduit{
	display: block;
	width: 100%;
	font-family: Helvetica, sans-serif;
	/*text-align: center;*/
}

.headProduit tr{
	width: 100%;
	display: table-row;
}

.unProduit{
	height: 2em;
	line-height: 2em;
	font-family: Helvetica, sans-serif;
}

.headProduit th, .unProduit td{
	display: table-cell;
	text-align: center;
	font-family: Helvetica, sans-serif;
<<<<<<< HEAD
	width: 19.5%;
	min-width: 210px;
=======
	padding:.2em 1em .2em .2em;
>>>>>>> 69fe8fdb3bf287093475582c356414836a980adc
}

.unProduit:nth-child(odd){
	background-color: #9999FF;
}

.actionB{
	display: inline-block;
	margin: 0px 2px 0px 2px;
	padding: 2px;
	height: 1.8em;
	background-color: white;
	border: 2px solid black;
	border-radius: 4px;
	color: gray;
	margin-bottom: 2px;
	cursor: pointer;
}

.actionB:hover{
	background-color: #B8B6B3;
	color:black;
}

.centerB{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.promotionPart{
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

.total{
	display: inline-block;
}

.tabPromotion{
	display: inline-block;
	text-align: center;
	width: 69%;
}

.tabPromotion th, td{
	width: 180px;
}

.promotionTab, .tabPromotionBody{
	display: block;
	width: 100%;
}

.editPromotion{
	display: inline-block;
	margin-top: 10px;
	width: 25%;
	min-width: 150px;
	vertical-align: top;
}

.editPromotionLabel{
	display: block;
}

.editPromotionList{
	display: block;
	width: 150px;
	margin-top: 5px;
}