html,body{
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.menu{
	display: block;
	vertical-align: top;
	width: 100%;
	height: 60px;
	background-color: #EB9809;
	margin-bottom: 15px;

}

.menu h1{
	display: block;
	width: auto;
	font-variant: small-caps;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	padding-top: 10px;
}

h1{
	padding: none;
	margin: none;
}


.container{
	display: block;
	width: 100%;
}

.food{
	display: block;
}


.addFood, .foodSubmit{
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: white;
	border: 2px solid black;
	border-radius: 4px;
	color: gray; 
	margin-top: 10px;
}

.addFood{
	display: block;
	margin: 0 auto;
	width: 130px;
	height: 40px;
	margin-top: 30px;
}

.addFood:hover, .foodSubmit:hover{
	background-color: #B8B6B3;
	color:black;
}

.addFood:active, .foodSubmit:active{
	background-color: white;
	color:black;
	border-style: inset;
}

.foodInput{
	height: 30px;
	border: 1px solid gray;
	border-radius: 4px;
}

.foodContainer label{
	margin-right: 5px;
	margin-left: 5px;
	font-variant: small-caps;
}

.foodContainer{
	display: block;
	margin: 0 auto;
	width: 460px;
}

.aliment{
	display: block;
	font-variant: small-caps;
	width: 100%;
	border-style: inset;
	border-left-style: none;
	border-top-style: none;
	padding: 3px;
	margin-top: 10px;
}

.alimentname, .alimentquantity, .alimentdate{
	display: inline-block;
	width: 32%;
	text-align: left;
}

.alimentdate{
	text-align: right;
}

/**

<div class=aliment>

	<div class="alimentname"></div>
	<div class="alimentquantity"></div>
	<div class="alimentdate"></div>

</div>

*/