html,body{
  width: 100%;
  height: 100%;
}

*{
  margin: none!important;
  padding: none!important;
}

body{
  background-color: #FFF;
  font-family: sans-serif;
  margin: none;
  padding: none;
  background-position: top;
}


.menu{
	display: block;
	vertical-align: top;
	width: 100%;
	height: 50px;
	background-color: #ED9A27;

}

.menu h1{
	vertical-align: middle;
}

h1{
	padding: none;
	margin: none;
}


.container{
	display: block;
	width: 100%;
}

.food{
	display: block;
}


.addFood{
	display: block;
	width: 100px;
	height: 30px;
	background-color: white;
	border: 2px solid black;
	border-radius: 4px;
	color: gray; 
	margin-top: 10px;
}
